<h1 [hidden]="!carregando" class="display-3 center">
  Carregando...
</h1>
<div [hidden]='carregando' class="container">

  <h3 class="center mb-3">
    Avaliação de Desempenho por Competências
  </h3>

  <div *ngIf='estag' class='mb-3 mt-4'>
    <h6>
      Nome: {{estag.nome}}
      <br> Cargo: {{cargo}}
      <br>
    </h6>
  </div>

  <div *ngFor='let comp of avaliacao' class='mb-3'>
    <div class="avaliacao">

      <div class="list-group">
        <a class="bg-primary text-white list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{comp.nome}}</h5>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <div class="row col-10">
              <small class="mb-1">{{comp.descricao}}</small>
            </div>
            <small>Peso: {{comp.peso}}</small>
          </div>

        </a>
        <a *ngFor='let ind of comp.indicadores; let i2 = index' class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h6 class="mb-1">{{ind.nome}}</h6>
            </div>

            <div class='col-2'>
              <input id='nota-{{ind.id}}' type="text" class='form-control nota'>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>

  <div *ngIf='estag' class='mb-3 mt-4'>
    <h6>
      Média mínima para alcançar mudança de nível de bolsa: 2,8.
      <br /> Média máxima para alcançar mudança de nível de bolsa: 4,0.
      <br />

    </h6>
    <h6>
      Resultado:
      <b>{{avalMedia.media}}</b>, {{avalMedia.texto}}.
    </h6>
  </div>
</div>