<div class="container">
  <h3 class="center">Perfil</h3>

  <br />
  <div class='row justify-content-center'>
    <div class="col-6">

      <div class="row">
        <div class="form-group col-12">
          <label>Nome</label>
          <input [(ngModel)]='gestor.nome' type="text" class="form-control" placeholder="Digite um nome" />
        </div>

        <div class="form-group col-12">
          <label>E-mail</label>
          <input [(ngModel)]='gestor.email' type="email" class="form-control" placeholder="Exemplo@telelistas.net" />
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <select [(ngModel)]='gestor.localidade_id' class="custom-select col-12">
              <option selected disabled value="0">Selecione uma Localidade</option>
              <option *ngFor="let local of localidades; let i = index" value={{local.id}}>{{local.nome}}</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <select [(ngModel)]='gestor.setor_id' class="custom-select col-12">
              <option selected disabled value="0">Selecione uma setor</option>
              <option *ngFor="let setor of setores; let i = index" value={{setor.id}}>{{setor.nome}}</option>
            </select>
          </div>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-12 form-group">
          <button class="col-12 btn btn-primary" (click)="alterar()">Alterar</button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />


  <div class="row" *ngIf="competencias">

    <h2 class="center col-12">Competências</h2>
    <p class="center col-12 blockquote-footer">Clique em uma competências para ver seus indicadores.</p>


    <ul routerLink='indicador/{{comp.id}}' class="list-group col-6" *ngFor="let comp of competencias; let i = index">
      <li class="list-group-item" [style.background]="cores[i]">
        <b>
          {{comp.nome}}
        </b>
      </li>
      <li class="list-group-item">{{comp.descricao}}</li>
    </ul>


  </div>
  <br />
  <br />

  <h4 class="center">
    Criar nova Competência
  </h4>
  <div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
      <div class="col-12 form-group">
        <label>Nome</label>
        <input [(ngModel)]="novaComp.nome" class="form-control" type="text" placeholder="Digite o nome da Competencia">
      </div>

      <div class="col-12">
        <label>Descrição</label>
        <textarea [(ngModel)]="novaComp.descricao" class="form-control" placeholder="Digite uma Descrição"></textarea>
      </div>

      <br />

      <div class="col-12 form-group">
        <button (click)='criarComp()' class="btn btn-success col-12">Criar</button>
      </div>
    </div>
  </div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />