<h4 class="center mt-5" [hidden]='!loading'>
  Carregando...
</h4>

<div class="container" [hidden]='loading'>

  <div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
      <br />
      <h3 class="center">
        Competência
      </h3>
      <br />
      <div class="col-12 form-group">
        <label>Nome</label>
        <input [(ngModel)]="comp.nome" class="form-control" type="text" placeholder="Digite o nome da Competencia">
      </div>

      <div class="col-12">
        <label>Descrição</label>
        <textarea [(ngModel)]="comp.descricao" class="form-control" placeholder="Digite uma Descrição"></textarea>
      </div>

      <br />

      <div class="col-12 form-group">
        <button (click)='alterarComp()' class="btn btn-success col-12">Alterar</button>
      </div>
      <div class="col-12 form-group">
        <button (click)='deletarComp()' class="btn btn-danger col-12">Deletar</button>
      </div>
    </div>
  </div>

  <!-- Criar  -->
  <div class="col-sm-12">
    <br />
    <h3 class="center">
      Criar indicador
    </h3>
    <div class="heading">
      <label>Nome</label>
      <input [(ngModel)]='newInd.ind' class="toggle form-control" type="text" placeholder="Digite um nome para o Indicador">
    </div>

    <div>
      <br>
      <div class="row">
        <h6 class="col-12">Competência</h6>
        <br>

        <div *ngFor='let comp of comps' class="col-md-6 col-sm-12">
          <label class="custom-control custom-radio">
            <input [(ngModel)]='newInd.comp' name="criarIndRadio" type="radio" class="custom-control-input"
              value='{{comp.id}}'>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{comp.nome}}</span>
          </label>
        </div>
      </div>
      <br>
      <div class="row">
        <h6 class="col-12">Cargos</h6>
        <br>

        <div *ngFor='let cargo of cargos' class="col-md-6 col-sm-12">
          <label class="custom-control custom-checkbox">
            <input [(ngModel)]='newInd.cargos[cargo.id]' type='checkbox' class="custom-control-input" value='{{cargo.id}}'>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{cargo.nome}}</span>
          </label>
        </div>
        <br />
        <br />

        <div class="col-12 row d-flex justify-content-around">

          <button (click)='saveNewInd()' class="btn btn-warning col-sm-12 col-md-5">Salvar</button>

        </div>
        <br />
        <br />

      </div>
    </div>

  </div>

  <hr />
  <br />

  <div class="row">
    <h3 class="center col-12">
      Indicadores
    </h3>
    <br />
    <br />

    <div class="col-12">
      <label class="custom-control custom-checkbox">
        <input [(ngModel)]='thisComp' type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Mostrar somente os indicadores desta competência</span>
      </label>
    </div>
  </div>

  <div *ngIf='!thisComp'>
    <lista-indicadores [INDICADORES]='_indicadoresOrig' [comps]='comps' [cargos]='cargos' [id]='id' [ind_cargos]='ind_cargos'
      [ind_comps]='ind_comps'>
      Carregando...
    </lista-indicadores>
  </div>

  <div *ngIf='thisComp'>
    <lista-indicadores [INDICADORES]='_thisCompInds' [comps]='comps' [cargos]='cargos' [id]='id' [ind_cargos]='ind_cargos' [ind_comps]='ind_comps'>
      Carregando...
    </lista-indicadores>
  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>