<div class="container">

  <br />

  <h3 class="center">
    Competência
  </h3>
  <br />

  <div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
      <div class="col-12 form-group">
        <label>Nome</label>
        <input [(ngModel)]="comp.nome" class="form-control" type="text" placeholder="Digite o nome da Competencia">
      </div>

      <div class="col-12">
        <label>Descrição</label>
        <textarea [(ngModel)]="comp.descricao" class="form-control" placeholder="Digite uma Descrição"></textarea>
      </div>

      <br />

      <div class="col-12 form-group">
        <button (click)='alterarComp()' class="btn btn-success col-12">Alterar</button>
      </div>
    </div>
  </div>
  <hr />
  <br />
  
  <h3 class="center">
    Indicadores
  </h3>
  <br />

  <div *ngIf='indicadores'>
    <ul class="list-group" *ngFor='let ind of indicadores; let indi = index'>
      <li class="list-group-item">
        <h5>
          {{indi + 1}}. {{ind.nome}}
        </h5>
        <br />
        <div *ngFor='let comp of comps'>
          <label class="custom-control custom-radio">
            <input 
            [(ngModel)]='ind_comps[indi]' 
            type="radio" 
            name={{indi}} 
            class="custom-control-input" value='{{comp.id}}'>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{comp.id}}. {{comp.nome}}</span>
          </label>
        </div>
      </li>
    </ul>
  </div>

</div>