<div class="container">

  <br />

  <h3 class="center">
    Competência
  </h3>
  <br />

  <div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
      <div class="col-12 form-group">
        <label>Nome</label>
        <input [(ngModel)]="comp.nome" class="form-control" type="text" placeholder="Digite o nome da Competencia">
      </div>

      <div class="col-12">
        <label>Descrição</label>
        <textarea [(ngModel)]="comp.descricao" class="form-control" placeholder="Digite uma Descrição"></textarea>
      </div>

      <br />

      <div class="col-12 form-group">
        <button (click)='alterarComp()' class="btn btn-success col-12">Alterar</button>
      </div>
    </div>
  </div>
  <hr />
  <br />



  <div *ngIf='indicadores' class="row">

    <h3 class="center col-12">
      Indicadores
    </h3>
    <br />

    <label class="custom-control custom-checkbox">
      <input (click)='showThis($event)' [(ngModel)]='show_this' type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Mostrar somente os indicadores desta competência</span>
    </label>

    <ul class="list-group col-12" *ngFor='let ind of indicadores; let indi = index'>
      <li class="list-group-item">
        <h5>
          {{ind.id}}. {{ind.nome}}
        </h5>

        <br />
        <div class="row">

          <div *ngFor='let comp of comps' class="col-md-6 col-sm-12">
            <label class="custom-control custom-radio">
              <input [checked]='ind.comp_id == comp.id' (click)='handleCheck(ind.id, comp.id)' type="radio" name={{indi}} class="custom-control-input"
                value='{{comp.id}}'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{comp.nome}}</span>
            </label>
          </div>

        </div>
      </li>

    </ul>
  </div>

</div>