.list-group {
    margin: 7.5px 0;
    padding: 0;
}

.list-group:hover li {
    transition: all .1s ease-in-out;
    background: rgba(0, 0, 0, .015);
    cursor: pointer;
}

.heading {
    border-bottom: 1px solid #d8d8d8;
}

.edits {
    overflow: hidden;
    transition: all .2s linear;
    height: 0
}