<div class="container">

  <br />
  <h3 class="center">Estagiários</h3>
  <br />
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <input [ngModel]="sort" (ngModelChange)="search($event)" class="form-control form-control-sm" placeholder="Procurar" />
    </div>
  </div>

  <br />
  <small>
    <i class="text-secondary">
      Clique nas linhas da tabela para mais detalhes
    </i>
  </small>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class='thead' name='nome' scope="col">Nome</th>
        <th class='thead' name='cargo' scope="col">Cargo</th>
        <th class='thead' name='local' scope="col">Localidade</th>
        <th class='thead' name='avaliado' scope="col">Ultima Avaliação</th>
        <th class='thead' name='avaliado' scope="col">Ultima Avaliação</th>
        <th class='thead' name='avaliado' scope="col">Ultima Avaliação</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)='handleClick($event.currentTarget)' data-id="{{estagiario.id}}" *ngFor="let estagiario of estagiarios">
        <td>{{estagiario.nome}}</td>
        <td>{{estagiario.cargo}}</td>
        <td>{{estagiario.local}}</td>
        <td>{{estagiario.ultima_aval.split(' ')[0].split('-').reverse().join('/')}}</td>
        <td>{{estagiario.ultima_aval}}</td>
        <td>{{dateDiff(estagiario.ultima_aval)}}</td>
      </tr>
    </tbody>
  </table>
</div>