<nav *ngIf="user?.nome">
  <div class="container">

    <ul class="nav">
      <li class="nav-item">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">
              Início
            </a>
          </li>
          <li *ngIf='user.setor_id == 1' class="nav-item">
            <a class="nav-link" routerLink="/cadastro">Cadastrar Gestor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cad-estagiario">Cadastrar Estagiário</a>
          </li>
        </ul>
      </li>
      <li class="nav-item user">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/gestor">
              <span class="alert alert-primary">
                {{user.nome}}
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="sair($event)" href="#">
              <span class="alert alert-danger">
                Sair
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>