<h1 class='mt-5 center' *ngIf='loading'>Carregando...</h1>

<div [hidden]='loading' class="container mt-5">
  <div class="center justify-content-center">
    <h2>Avaliações e Pesos</h2>
    <small>
      <i class="text-secondary">
        Edite quais competências aparecem nas provas de cada cargo
        <br /> e dê seus pesos.
      </i>
    </small>
  </div>
  <div class="list-group mt-5">
    <div *ngFor='let cargo of cargos; let i = index' class="list-group-item mb-2">
      <h5 class='mb-3'>
        {{cargo.nome}}
        <small>
          <i class="text-secondary">
            - cargo
          </i>
        </small>
      </h5>

      <div class="row">
        <div class="d-flex col-12 justify-content-between" *ngFor='let comp of competencias; let i2 = index'>
          <div>
            <label class="custom-control custom-checkbox">
              <input attr.data-check='{{comp.id}}&{{cargo.id}}' type='checkbox' class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                {{comp.nome}}
              </span>
            </label>
          </div>
          <div class='col-2'>
            <input attr.data-peso='{{comp.id}}&{{cargo.id}}' type="number" class='peso-input form-control'>
          </div>
        </div>

        <div class="col-12">
          <div class="btn btn-warning col-sm-12 col-md-3 mt-2" (click)='post(cargo.id)'>Salvar</div>
        </div>

      </div>
    </div>


  </div>
</div>